
/*
.row{
  width: 100%;
  height: 11.3125rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  object-fit: cover;
}*/
.nav{
  display: flex;
  flex-direction: row;
}
li{
  display: flex;
  padding-left: 10px;
}
